{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Face Detection</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %%}">
  </head>

  <body>
    <header>
      <h1>Django Face Detector</h1>
    </header>

    <div id="page-container">
      <div id="content-wrap">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'detection' %}">Detection</a></li>
                <li><a href="{% url 'upload' %}">Upload</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        <div>
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <footer id="footer">
        <p>coś tam na dole</p>
      </footer>
  </div>

  </body>
</html>
