{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Face Detection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
  </head>

  <body>
    <header>
      <h1>Django Face Detector</h1>
    </header>

    <div>
      <div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'detection' %}">Detection</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        <article>
          {% block content %}
          {% endblock %}
        </article>
      </div>

      <footer>
        <h2>coś tam na dole</h2>
      </footer>
  </div>

  </body>
</html>
